/* packages.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.navbar .logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
}

.nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 12px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-links a:hover {
    background-color: #575757;
    border-radius: 5px;
    color: #ddd;
}
.our-packages {
    padding: 3px;
    text-align: center;
}

.tour-cards {

    display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    justify-content: space-around;

    /*display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;*/
}

.tour-card {
    background-color: #bbbfc4;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(236, 158, 158, 0.1);
    width: 40%;

}

.tour-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin: 0;
    padding: 0;
}

.tour-card h3 {
    margin: 1rem 0;
}

.tour-card a {
    background-color: #ff5e00;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}


.Contact {
    padding: 3rem;
    text-align: center;
    background-color: #b39d9d;
}

.Contact form {
    max-width: 600px;
    margin: 0 auto;
}

.Contact input,
.Contact textarea {
    width: 100%;
    padding: 1rem;
    margin: 0.5rem 0;
    border-radius: 5px;
    border: 1px solid white;
}

.Contact button {
    padding: 1rem 2rem;
    background-color: #ff5e00;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 1.1rem;
}
